* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-width: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    background-color: #1c1c1c;
    height: 100px;
    width: 100%;
    font-weight: 300;
    width: 100vw;

}

.unordered-list {
    display: flex;
    list-style: none;
    gap: 150px;
    margin-top: 36px;
    margin-left: 185px;
}

.unordered-list li {}

.unordered-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.unordered-list li a:hover {
    color: #61DAFB;
}

.logo-title-container {
    display: flex;
    flex-direction: row;
}

.logo-title-container h2 {
    font-weight: 400;
    color: white;
    font-size: 25px;
    margin-top: 30px;

}

.logo-title-container img {
    margin: 15px;
    width: 70px;
    height: 70px;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 166px;
    margin-top: 35px;
    margin-left: 195px;
}

.searchbar-container input {
    background-color: #373940;
    border: none;
    height: 25px;
    width: 200px;
    font-size: 20px;
    padding: 25px;
    color: white;
    border-radius: 5px;
    padding-left: 45px;
}

.searchbar-container input:focus {
    background-color: #373940;
    border: none;
    height: 25px;
    width: 200px;
    font-size: 20px;
    padding: 25px;
    color: white;
    border-radius: 5px;
    padding-left: 45px;
    outline: 1px solid rgb(255, 255, 255);
}

.searchbar-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding-right: 15px;
    margin-right: -50px;
    background: none;
    border: none;
    z-index: 1;
}

.searchbar-container img {
    display: flex;
    width: 24px;
    height: 24px;
}

.searchbar-wrapper {
    position: relative;
    width: 250px;
    display: inline-block;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background: #f2f2f2;
}

.highlighted-react {
    font-weight: bold;
    color: #61DAFB;
}

.berkan-logo {
    border: 1px solid hsla(0, 0%, 50%, .159);
}

.nopage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nopage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 132px;
    height: 50vh;
    width: 500px;
}

.nopage-container img {
    width: 700px;
    height: 400px;
}

.nopage-container h1 {
    color: white;
    font-weight: lighter;
}

.nopage-container p {
    color: white;
    font-weight: lighter;
}

.homepage-wrapper {}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/Examenopdracht-van-Berkan-en-Lukasz/assets/images/pattern.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100vw;
    color: white;
}

.hero-container img {
    width: 159px;
    height: 140px;
}

.hero-container h1 {
    color: #61DAFB;
    font-size: 65px;
}

.hero-container p {
    color: white;
    font-size: 35px;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #000000;
}

.hero-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61DAFB;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.hero-container a {
    text-decoration: none;
}

.hero-container button:hover {
    background-color: #4dafca;
}

.hero-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 50px;
    font-weight: lighter;
}

.block {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;

}

.block img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.block h3 {
    font-size: 30px;
}

.block p {
    font-size: 25px;
}

.hero-container-3 {
    display: flex;
    width: 100vw;
    background-color: #E9ECF1;
    padding: 50px;
    gap: 110px;
    font-weight: lighter;
}

.sandpack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.hero-container-3-text-container {
    display: flex;
    flex-direction: column;
    width: 599px;
}

.hero-container-3-text-container h1 {
    font-size: 30px;
}

.hero-container-3-text-container p {
    font-size: 25px;
}

.hero-container-4 {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    font-weight: lighter;
}

.hero-container-4 img {}

.hero-container-4 p {
    width: 690px;
    font-size: 25px;
    margin-bottom: 15px
}

.bestaan {
    font-weight: bold;
}

.footer {
    background-color: #1C1C1C;
    width: 100vw;
    padding: 20px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-container img {
    width: 450px;
}

.footer-container p {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    margin-right: 45px;
}

.footer-2 {
    background-color: #1C1C1C;
    width: 100vw;
    padding: 20px;
}

.footer-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-container-2 img {
    width: 450px;
}

.footer-container-2 p {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    margin-right: 45px;
}

.download-container {
    display: flex;
    justify-content: center;
    height: 51vh;
    width: 80vw;
    margin: 0 auto;

}

.download-h1-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

.download-h1-container h1 {
    color: #417E38;
    font-size: 50px;
}

.nodejs-container {
    width: 50%;
}

.nodejs-container p {
    font-size: 22px;
    line-height: 35px;
    font-weight: lighter;

}

.nodejs-logo-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.nodejs-logo-container img {
    height: 70%;
    padding-top: 30px;
    padding-left: 150px;
}

.nodejs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download-buttons-container {
    margin-left: 155px;
}

.download-buttons-container button {
    width: 610px;
    height: 60px;
    background-color: #417E38;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 80px;
}

.download-buttons-container button:hover {
    width: 610px;
    height: 60px;
    background-color: #396e31;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;

}